database_access_check.json
{
  "name": "database access check",
  "nodes": [
    {
      "parameters": {
        "jsCode": "return [\n  {\n    json: {\n      path: \"\\\\\\\\172.18.6.89\\\\thesd01582_sle_c\\\\APPS\\\\Shark\",\n      label: \"Shark Folder\",\n      sitename: \"EOLT-4\",\n      collection: \"JarvisCollection\"\n    }\n  },\n  {\n    json: {\n      path: \"\\\\\\\\172.18.6.89\\\\shared2\",\n      label: \"Shared 2\",\n      sitename: \"EOLT-4\",\n      collection: \"JarvisCollection\"\n    }\n  },\n  {\n    json: {\n      path: \"\\\\\\\\server\\\\otherfolder\",\n      label: \"Other Folder\",\n      sitename: \"EOLT-4\",\n      collection: \"JarvisCollection\"\n    }\n  },\n  {\n    json: {\n      path: \"\\\\\\\\AULS0009\\\\SQLEXPRESS2014\",\n      label: \"Database\",\n      sitename: \"Sydney\",\n      collection: \"CTACollection\"\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        280,
        80
      ],
      "id": "bc32bce8-ce42-4461-9091-f061f8faf63b",
      "name": "Code",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        520,
        80
      ],
      "id": "d4e3c78c-9112-40f6-a195-df195e00674a",
      "name": "Loop Over Items",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e29ebdc0-b0ff-41f6-8e95-adb1ccf937a5",
              "name": "=path",
              "value": "={{ $('Code').item.json.path }}",
              "type": "string"
            },
            {
              "id": "2679f363-7e2b-4d1d-9111-be12f2c94f16",
              "name": "label",
              "value": "={{ $('Code').item.json.label }}",
              "type": "string"
            },
            {
              "id": "07c6bd71-c4f7-44bb-9b65-0b0bdffa64ec",
              "name": "status",
              "value": "={{ ($json[\"stdout\"] === \"OK\" ? \"OK\" : \"NOT ACCESSIBLE\").trim() }}",
              "type": "string"
            },
            {
              "id": "942d3fb8-340e-4254-bfee-8637dd6f7370",
              "name": "check_time",
              "value": "={{ new Date().toISOString() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1000,
        80
      ],
      "id": "3a343869-6f95-4738-97db-31e18433b5ce",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "value": "access_check",
          "mode": "list",
          "cachedResultName": "access_check"
        },
        "table": {
          "__rl": true,
          "value": "folder_access_log",
          "mode": "list",
          "cachedResultName": "folder_access_log"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "status": "={{ $json.status }}",
            "details": "={{ $('Code').item.json.path }}",
            "checked_time": "={{ $json.check_time }}",
            "sitename": "={{ $('Code').item.json.sitename }}",
            "collection_name": "={{ $('Code').item.json.collection }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "checked_time",
              "displayName": "checked_time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "details",
              "displayName": "details",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "sitename",
              "displayName": "sitename",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "collection_name",
              "displayName": "collection_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1260,
        80
      ],
      "id": "6e604c58-0ac7-4735-94e5-1e982287b854",
      "name": "Postgres",
      "credentials": {
        "postgres": {
          "id": "zTZu1492IQz5ZBjW",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        80,
        80
      ],
      "id": "6c2f0b03-ced4-44a2-8862-5665eb90142e",
      "name": "Schedule Trigger1"
    },
    {
      "parameters": {
        "executeOnce": false,
        "command": "=powershell -Command \"if (Test-Path '{{ $json.path }}') { Write-Output 'OK'; exit 0 } else { Write-Output 'NOT accessible'; exit 1 }\"\n"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        780,
        80
      ],
      "id": "fb242081-4a3b-40ba-bc8d-5cd8f6488ace",
      "name": "Execute Command1",
      "alwaysOutputData": false,
      "retryOnFail": false,
      "onError": "continueRegularOutput"
    }
  ],
  "pinData": {},
  "connections": {
    "Code": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Execute Command1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Postgres",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger1": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Command1": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "5c512ecb-72e0-46b9-9b3d-f18112afe795",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "740d7a4eb60f5cb4a3b16a8f516198220248aae63c45b4ed4f2f9c4f416727ba"
  },
  "id": "WH8AVnQs4tUYbVGH",
  "tags": []
}