folder_access_check_copy.json
{
  "name": "folder access check copy",
  "nodes": [
    {
      "parameters": {
        "jsCode": "return [\n  {\n    json: {\n      path: \"\\\\\\\\172.18.6.89\\\\thesd01582_sle_c\\\\APPS\\\\Shark\",\n      label: \"Folder\",\n      sitename: \"EOLT-4\",\n      type: \"folder\",\n      collection: \"JarvisCollection\"\n    }\n  },\n  {\n    json: {\n      path: \"\\\\\\\\172.18.6.89\\\\shared2\",\n      label: \"Shared 2\",\n      sitename: \"EOLT-4\",\n      type: \"folder\",\n      collection: \"JarvisCollection\"\n    }\n  },\n  {\n    json: {\n      path: \"\\\\\\\\server\\\\otherfolder\",\n      label: \"Other Folder\",\n      sitename: \"EOLT-4\",\n      type: \"folder\",\n      collection: \"JarvisCollection\"\n    }\n  },\n  {\n    json: {\n      path: \"AULS0009\\\\SQLEXPRESS2014\",\n      label: \"Database\",\n      sitename: \"Sydney\",\n      type:\"database\",\n      collection: \"CTACollection\"\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        280,
        80
      ],
      "id": "62635b41-405c-4efe-925a-e5b2d67b52a6",
      "name": "Code",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        520,
        80
      ],
      "id": "6c7cfc6c-5163-4b35-9884-bd7a1a4c3aab",
      "name": "Loop Over Items",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e29ebdc0-b0ff-41f6-8e95-adb1ccf937a5",
              "name": "=path",
              "value": "={{ $('Code').item.json.path }}",
              "type": "string"
            },
            {
              "id": "2679f363-7e2b-4d1d-9111-be12f2c94f16",
              "name": "label",
              "value": "={{ $('Code').item.json.label }}",
              "type": "string"
            },
            {
              "id": "07c6bd71-c4f7-44bb-9b65-0b0bdffa64ec",
              "name": "status",
              "value": "={{ ($json[\"stdout\"] === \"OK\" ? \"OK\" : \"NOT ACCESSIBLE\").trim() }}",
              "type": "string"
            },
            {
              "id": "942d3fb8-340e-4254-bfee-8637dd6f7370",
              "name": "check_time",
              "value": "={{ new Date().toISOString() }}",
              "type": "string"
            },
            {
              "id": "ee31bdcd-e6d1-4c33-931d-ff6230de31eb",
              "name": "collection",
              "value": "={{ $('Code').item.json.collection }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1000,
        80
      ],
      "id": "eaee2352-ae0d-4d47-81c5-2237cb596084",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "value": "access_check",
          "mode": "list",
          "cachedResultName": "access_check"
        },
        "table": {
          "__rl": true,
          "value": "folder_access_log",
          "mode": "list",
          "cachedResultName": "folder_access_log"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "status": "={{ $json.status }}",
            "details": "={{ $('Code').item.json.path }}",
            "checked_time": "={{ $json.check_time }}",
            "sitename": "={{ $('Code').item.json.sitename }}",
            "collection_name": "={{ $json.collection }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "checked_time",
              "displayName": "checked_time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "details",
              "displayName": "details",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "sitename",
              "displayName": "sitename",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "collection_name",
              "displayName": "collection_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1260,
        80
      ],
      "id": "2d9cd90b-27d0-4e85-949e-e890d1ffe1a2",
      "name": "Postgres",
      "credentials": {
        "postgres": {
          "id": "zTZu1492IQz5ZBjW",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        80,
        80
      ],
      "id": "b6b09f0b-8a1b-410f-b015-e8c4985dce13",
      "name": "Schedule Trigger1"
    },
    {
      "parameters": {
        "executeOnce": false,
        "command": "=powershell -NoProfile -Command \"\n$type = '{{ $json.type }}'\n$path = '{{ $json.path }}'\n\nif ($type -eq 'folder') {\n  if (Test-Path $path) {\n    Write-Output 'OK'\n    exit 0\n  } else {\n    Write-Output 'NOT accessible'\n    exit 1\n  }\n} elseif ($type -eq 'database') {\n  try {\n    $conn = New-Object System.Data.SqlClient.SqlConnection\n    $conn.ConnectionString = 'Server=' + $path + ';Integrated Security=True;Connection Timeout=5'\n    $conn.Open()\n    if ($conn.State -eq 'Open') {\n      $conn.Close()\n      Write-Output 'OK'\n      exit 0\n    } else {\n      Write-Output 'NOT accessible'\n      exit 1\n    }\n  } catch {\n    Write-Output 'NOT accessible'\n    exit 1\n  }\n} else {\n  Write-Output 'UNKNOWN TYPE'\n  exit 1\n}\n\"\n"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        780,
        80
      ],
      "id": "15065b8d-06a2-4b0b-b0a5-f7057db81842",
      "name": "Execute Command1",
      "alwaysOutputData": false,
      "retryOnFail": false,
      "onError": "continueRegularOutput"
    }
  ],
  "pinData": {},
  "connections": {
    "Code": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Execute Command1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Postgres",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger1": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Command1": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "d79ac977-e520-4840-9da9-cc10ab8d345e",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "740d7a4eb60f5cb4a3b16a8f516198220248aae63c45b4ed4f2f9c4f416727ba"
  },
  "id": "EhU6qND3ZHVplOk4",
  "tags": []
}